<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>エリア一覧</title>
	<!-- <link rel="stylesheet" href="css/quizTop.css"/> -->
	<!-- BootstrapのCSS読み込み -->
	<link href="/tobe_master/public/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery読み込み -->
	<script src="/tobe_master/public/js/jquery-3.1.1.min.js"></script>
	<!-- BootstrapのJS読み込み -->
	<script src="/tobe_master/public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<link href="/tobe_master/public/css/management/area.css" rel="stylesheet">


</head>
<body>
<div class="container">
	<div class="row　row_quiz">
		<div class="col-md-12">
			<h1 class="text-center"> エリア管理 </h1>
			<div class="link">
				<a href="/tobe_master/management/quiz" role="button" class="btn btn-link button">クイズ管理へ</a>
				<a href="/tobe_master/management/quiz/make" role="button" class="btn btn-link button">クイズ作成へ</a>
				<a href="/tobe_master/management/" role="button" class="btn btn-link button logout">ログアウト</a>
			</div>
		</div>

		<div class="add">
			<form method="post" action="/tobe_master/management/area" name="" id="" enctype="">
			<input type="text" class="newarea" name="area_name" placeholder="追加するエリア名を入力して下さい" value="" required>
			<input name="Submit" type="submit" value="エリア追加" class="btn btn-primary">
		</form>
		</div>

	</div>
	<table class="table table-hover table-size">
		<thead>
			<tr>
				<th class="num">エリアID</th>
				<th class="name">エリア名</th>
				<th class="rename">編集</th>
				<th class="delete">削除</th>
			</tr>
		</thead>
		<tbody>
			<!-- <form action="" method="get"> -->
			{% for item in area %}
			<tr>
				<th scope="row" class="num">{{ item['beast_house_id'] }}</th>
				<td class=""><a href="#" title="" role="button" class="btn-link">{{ item['name'] }}</a></td>
				<td><button type="button"  data-toggle="modal" data-target="#areachange{{ item['beast_house_id'] }}">編集</button></td>
				<td><button type="button"  data-toggle="modal" data-target="#areadelete{{ item['beast_house_id'] }}">削除</button></td>
			</tr>
			{% endfor %}
			<!-- </form> -->

			<!-- モーダルウィンドウを表示するボタンを設置 -->

			<!-- 表示されるモーダルウィンドウ -->
			{% for item in area %}
			<div class="modal fade" id="areachange{{ item['beast_house_id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">エリア編集</h4>
						</div>
						<div class="modal-body">
							<form method="post" action="/tobe_master/management/area/{{item['beast_house_id']}}">
								<p>エリア名を入力して下さい。</p>
								<input type="text" class="form-control" name="area_name" id="area{{ item['beast_house_id'] }}" placeholder="エリア名を入力して下さい" value="{{ item['name'] }}" required>
								<input type="submit" class="form-control btn btn-primary update" name="update" value="変更">
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="areadelete{{ item['beast_house_id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel{{ item['beast_house_id'] }}">エリア削除</h4>
						</div>
						<div class="modal-body">
							<form method="post" action="/tobe_master/management/area/{{item['beast_house_id']}}">
								<p>削除してよろしいですか？</p>
								<p>エリアID : {{ item['beast_house_id'] }}</p>
								<p>エリア名 : {{ item['name'] }}</p>
								<input type="hidden" name="_METHOD" value="DELETE"/>
								<input type="submit" class="form-control btn btn-primary deletecheck" name="delete" value="削除">
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- col -->
			{% endfor %}
		</tbody>
	</table>
</div>
<!-- class=container -->
</body>
</html>
