<!DOCTYPE html>
<!--
    テストだよ
 -->
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/tobe_master/public/css/web/import_multi.css">
    <title>テスト</title>
</head>
<body>
  <input type="button" value="-" id="minus">
  <input type="text" name="" value="2" disabled id="members" size="1">
  <input type="button" value="+" id="plus">
  <input type="submit" name="players" value="決定">

  <div id="charactorBox">
    <div><img src="/tobe_master/public/images/sample.jpg" alt="" width="100px" height="100px"></div>
    <div><img src="/tobe_master/public/images/sample.jpg" alt="" width="100px" height="100px"></div>
  </div>
  

<script src="/tobe_master/public/js/import.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>