.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.contentIn {
  position: relative;
  background-color: #fff;
}
.contentIn > div {
  width: 100%;
  height: 1vh;
  background-color: #fff;
  position: absolute;
}
#quizRepeat > div {
	position:absolute;
	background-color: #fff;
	height:100%;
	width: 100%;
}
.contentIn > div.active {
  z-index: 999 !important;
}

.time {
  width: 80%;
  height: 5%;
  border: 5px solid #333;
  position: relative;
  overflow: hidden;
}

.timebar {
  width: 100%;
  height: 100%;
  background-color: skyblue;
  position: absolute;
  top: 0;
}
